body {
    background-color: #2f2f2f;
    color: white;
    font-family: Arial;
}

.dashboard {
    width: 60%;
    margin: auto;
    text-align: center;
}

.card {
    background: #3a3a3a;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
}

input {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px 15px;
    background: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}

.progress-bar {
    background: #555;
    height: 20px;
    border-radius: 10px;
    margin-top: 10px;
}

.progress {
    background: #4caf50;
    height: 100%;
    border-radius: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

.error {
    color: red;
}
li {
    background: #444;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
}
.logout-btn {
    display: inline-block;
    padding: 10px 15px;
    background: #e74c3c;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-left: auto;
    margin: 10px;
}

.logout-btn:hover {
    background: #c0392b;
}